.item {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .item:last-of-type {
    border-bottom: none;
  }
  
  .item figure {
    margin: 0;
    padding: 0;
    width: 70%;
  }
  
  .item blockquote {
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
    color: #5e2fcc;
  }
  
  .item p {
    margin: 0;
    margin-bottom: 0.25rem;
  }
  
  .item figcaption {
    font-style: italic;
    color: #4f4d69;
    font-weight: bold;
  }

  .button {
    text-decoration: none;
    background-color: #351188;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    border: 1px solid #351188;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background-color: #4c1188;
    border-color: #4c1188;
  }