.logs {
    max-width: 35rem;
    width: 90%;
    max-height: 35rem;
    margin: 7rem auto;
    animation: logs-appear 1s ease-out forwards;
    overflow-y:auto;
  }
  
  .logs ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .title {
    margin-top: -1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .title h1 {
    font-size: 2rem;
    color: #351188;
  }
  
  @keyframes logs-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  